@model IEnumerable<BasicCodeDotNet.Models.Entities.Product>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Categories Tables - <a asp-controller="Product" asp-action="Create">Create</a></h4>

            </div><!-- end card header -->

            <div class="card-body">
                @* <p class="text-muted">Use <code>table-bordered</code> class to show borders on all sides of the table and cells.</p> *@

                <div class="live-preview">
                    <div class="table-responsive">
                        <table class="table table-bordered align-middle table-nowrap mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="fw-medium">@item.Id</td>
                                        <td>@item.Name</td>
                                        <td>@item.CategoryNavigation?.Name</td>
                                        <td>
                                            <div class="dropdown">
                                                <a href="#" role="button" id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="ri-more-2-fill"></i>
                                                </a>

                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                                                    <li><a class="dropdown-item">Edit</a></li>
                                                    <li><a class="dropdown-item" >Delete</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
</div>
